<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block Title %}
        <title>Title</title>
    {% endblock %}

    <!--css样式-->
    {% block css %}
    {% endblock %}
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .layout{
            height: 48px;
            background-color: aqua;
        }
        .headtxt{
            padding: 10px 15px;
        }
        .logout{
            padding-right: 20px;
            float:right;
            font-size: 14px;
        }
    </style>
</head>
<body>

<!--内容样式-->
{% block content %}
    <div class="layout">
        <h3 class="headtxt">欢迎！
            <a class="logout" href="/logout/">注销</a>
        </h3>

    </div>
{% endblock %}

<!--js样式-->
{% block js %}
{% endblock %}
</body>
</html>