{% extends 'rbac/layout.html' %}


{% block Title %}
    <title>主机管理系统</title>
{% endblock %}

{% block css %}
    <style>
        .page > a{
            display: inline-block;
            padding: 2px 2px;
            margin: 50px 3px;
            border: 1px solid darkgrey;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="layout">
        <h3 class="headtxt">欢迎！
            <a class="logout" href="/rbac/logout/">注销</a>
        </h3>
    </div>
{% endblock %}


<!--左侧菜单-->
{% block pg_menu %}
    <!--用 inclusion_tag写的html菜单模板-->
    {% load rbac %}
    {% get_rbac_menu request %}
{#    {% for item in request.menu_dict.values %}#}
{#        <!-- 如果有active则单独加样式FirstActive，可自定义颜色，字体 css格式 -->#}
{#        {% if item.active %}#}
{#            <div class="FirstMenu FirstActive" >{{ item.menu_name }}</div>#}
{#        {% else %}#}
{#            <div class="FirstMenu" >{{ item.menu_name }}</div>#}
{#        {% endif %}#}
{##}
{#        <!-- pid为空则是可以菜单显示的，如果有active则单独变换css样式 -->#}
{#        {% for url_item in item.children.values %}#}
{#            {% if not url_item.pid %} <!--如果是菜单则展示-->#}
{#                {% if url_item.active %}#}
{#                    <a class="afmenu afactive" href="{{ url_item.url }}">{{ url_item.title }}</a>#}
{#                {% else %}#}
{#                    <a class="afmenu" href="{{ url_item.url }}">{{ url_item.title }}</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endfor%}#}
{% endblock %}

{% block pg_content %}
    <div><a href="/rbac/host/add/">添加</a></div>
    <table border="1px">
        <tr>
            <th>主机id</th>
            <th>主机名</th>
            <th>主机IP</th>
            <th>用户</th>
            <th>编辑操作</th>
            <th>删除操作</th>
        </tr>
    {% for res in res_obj %}
        <tr>
            <td>{{ res.resid }}</td>
            <td>{{ res.resname }}</td>
            <td>{{ res.resip }}</td>
            <td>{{ res.user_id }}</td>
            <td><a href="/rbac/host/edit/{{ res.resid }}">编辑</a></td>
            <td><a href="/rbac/host/del/{{ res.resid }}">删除</a></td>
        </tr>
    {% endfor %}
    </table>

    <!--页码标签-->
    <div class="page">{{ html }}</div>
{% endblock %}



