<!--左侧菜单的 inclusion_tag模板-->

{% for item in menu_dict.values %}
    <!-- 如果有active则单独加样式FirstActive，可自定义颜色，字体 css格式 -->
    {% if item.active %}
        <div class="FirstMenu FirstActive" >{{ item.menu_name }}</div>
    {% else %}
        <div class="FirstMenu" >{{ item.menu_name }}</div>
    {% endif %}

    <!-- pid为空则是可以菜单显示的，如果有active则单独变换css样式 -->
    {% for url_item in item.children.values %}
        {% if not url_item.pid %} <!--如果是菜单则展示-->
            {% if url_item.active %}
                <a class="afmenu afactive" href="{{ url_item.url }}">{{ url_item.title }}</a>
            {% else %}
                <a class="afmenu" href="{{ url_item.url }}">{{ url_item.title }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor%}

{#{#}
{#	'1': {#}
{#		'menu_name': '用户菜单',#}
{#		'children': {#}
{#			'1': {#}
{#				'url': '/rbac/users/',#}
{#				'code': 'list',#}
{#				'pid': None,#}
{#				'title': '用户列表'#}
{#			},#}
{#			'2': {#}
{#				'url': '/rbac/users/add/',#}
{#				'code': 'add',#}
{#				'pid': 1,#}
{#				'title': '增加用户'#}
{#			},#}
{#			'3': {#}
{#				'url': '/rbac/users/del/(\\d+)',#}
{#				'code': 'del',#}
{#				'pid': 1,#}
{#				'title': '删除用户'#}
{#			},#}
{#			'4': {#}
{#				'url': '/rbac/users/edit/(\\d+)',#}
{#				'code': 'edit',#}
{#				'pid': 1,#}
{#				'title': '编辑用户'#}
{#			},#}
{#			'5': {#}
{#				'url': '/rbac/host/',#}
{#				'code': 'list',#}
{#				'pid': None,#}
{#				'title': '主机列表',#}
{#				'active': True#}
{#			},#}
{#			'9': {#}
{#				'url': '/rbac/index/',#}
{#				'code': 'list',#}
{#				'pid': 1,#}
{#				'title': '访问主页'#}
{#			},#}
{#			'6': {#}
{#				'url': '/rbac/host/add/',#}
{#				'code': 'add',#}
{#				'pid': 1,#}
{#				'title': '增加主机'#}
{#			},#}
{#			'7': {#}
{#				'url': '/rbac/host/edit/(\\d+)',#}
{#				'code': 'edit',#}
{#				'pid': 5,#}
{#				'title': '编辑主机'#}
{#			},#}
{#			'8': {#}
{#				'url': '/rbac/host/del/(\\d+)',#}
{#				'code': 'del',#}
{#				'pid': 5,#}
{#				'title': '删除主机'#}
{#			}#}
{#		},#}
{#		'active': True#}
{#	}#}
{#}#}